@for $i from 0 through 10 {
  .mt-#{$i} {
    margin-top: #{$i}em;
  }
}
@for $i from 0 through 10 {
  .mb-#{$i} {
    margin-bottom: #{$i}em;
  }
}
@for $i from 0 through 10 {
  @if ($i != 0) {
    .mt-n#{$i} {
      margin-top: -#{$i}em;
    }
  }
}
@for $i from 0 through 10 {
  @if ($i != 0) {
    .mb-n#{$i} {
      margin-bottom: -#{$i}em;
    }
  }
}
.m-auto {
  margin-inline: auto;
}
@for $i from 0 through 10 {
  .pt-#{$i} {
    padding-top: #{$i}em;
  }
}
@for $i from 0 through 10 {
  .pb-#{$i} {
    padding-bottom: #{$i}em;
  }
}
@for $i from 0 through 10 {
  .ps-#{$i} {
    padding-inline-start: #{$i}em;
  }
}
@for $i from 0 through 10 {
  .pe-#{$i} {
    padding-inline-end: #{$i}em;
  }
}
@for $i from 1 through 10 {
  .p#{$i} {
    padding: #{$i}em;
  }
}

// Display
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.j-start {
  justify-content: flex-start;
}
.j-end {
  justify-content: flex-end;
}
.j-between {
  justify-content: space-between;
}
.j-around {
  justify-content: space-around;
}
.j-evenly {
  justify-content: space-evenly;
}
.j-center {
  justify-content: center;
}
.a-start {
  align-items: flex-start;
}
.a-end {
  align-items: flex-end;
}
.a-between {
  align-items: space-between;
}
.a-around {
  align-items: space-around;
}
.a-evenly {
  align-items: space-evenly;
}
.a-center {
  align-items: center;
}
.a-stretch {
  align-items: stretch;
}
.f-wrap {
  flex-wrap: wrap;
}

@for $i from 1 through 10 {
  .gap-#{$i} {
    gap: #{$i}em;
  }
}
.gap-0-5 {
  gap: 0.5em;
}
// Text align

.t-center {
  text-align: center;
}

.t-start {
  text-align: start;
}

.t-end {
  text-align: end;
}
