@use "../../Abstracts/" as *;

.quick-stats-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr));
  gap: 1.5em;
  .stat-item {
    padding: 1em;
    background-color: var(--clr-white);
    border-radius: $radius10;
    box-shadow: $boxShadow3;
    @include transition(background-color);
    @include flex(0.3em, row, space-between, flex-start);
    flex-wrap: wrap;
    cursor: pointer;
    &:hover {
      background-color: var(--clr-turquoise-900);
    }
    .title-value-box {
      h2 {
        color: var(--clr-main-500);
        font-size: 20px;
        margin-bottom: 0.3em;
      }
      p {
        color: var(--clr-main-600);
      }
    }
    .icon-holder {
      i {
        $size: 35px;
        width: $size;
        height: $size;
        border-radius: $radius5;
        @include flex(0, row, center);

        color: var(--clr-white);
        &.inventory-earnings {
          background-color: var(--clr-green-500);
        }
        &.inventory-cost {
          background-color: var(--clr-olive-400);
        }
        &.inventory-value {
          background-color: var(--clr-blue-700);
        }
        &.all {
          background-color: var(--clr-teal-200);
        }
        &.in-stock {
          background-color: var(--clr-teal-400);
        }
        &.out-of-stock {
          background-color: var(--clr-red-500);
        }
        &.stock-alert {
          background-color: var(--clr-yellow-400);
        }
      }
    }
  }
}
