@use "../../Abstracts/" as *;
.spinner-container {
    text-align: center;
    padding-block: 2em;
    .spinner {
        $size: 100px;
        border: 4px solid var(--clr-white);
        border-top: 4px solid var(--clr-teal-300);
        border-radius: 50%;
        width: $size;
        height: $size;
        animation: spin 1s linear infinite;
        margin: 0 auto 1em;
    }
    p {
        font-size: 25px;
        color: var(--clr-teal-300);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
