.grid {
  display: grid;
  &.products-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(290px, 100%), 1fr));
    gap: 2em 1em;
    justify-content: center;
  }
  &.contact-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    gap: 2em;
    justify-content: center;
  }
  &.why-us-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 2em;
    justify-content: center;
  }
  &.auth-cat-pub-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1em;
    justify-content: center;
  }
  &.reviews-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    justify-content: center;
  }
  &.stats-grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1em;
  }
  &.tabs-filters-grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1em;
  }
  &.charts-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1em;
  }
}
