@use "../../Abstracts/" as *;

.message {
  padding: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: $radius5;
  display: none;
  &.show {
    display: block;
  }
  width: min(650px, 100%);
  &.error {
    background-color: var(--clr-red-700);
    color: var(--clr-white);
  }
  &.success {
  }
}
