@use "../../Abstracts/" as *;

.toasts-holder {
    width: min(300px, 100%);
    position: fixed;
    top: -100px;
    z-index: 1500;
    @include centerHorizontally;
    @include transition(top);
    &.show {
        top: 20px;
    }
    .toast {
        padding: 1em;
        border-radius: $radius10;
        font-weight: 500;
        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
        &.success {
            background-color: var(--clr-green-700);
            color: var(--clr-teal-200);
        }
        &.error {
            background-color: var(--clr-red-600);
            color: var(--clr-white);
        }
    }
}
