@use "../../Abstracts/" as *;

.special-header {
    h2 {
        color: var(--clr-main-500);
        font-size: 23px;
    }
    a {
        text-decoration: underline;
        color: var(--clr-main-500);
        @include transition(color);
        &:hover {
            color: var(--clr-main-400);
        }
    }
}
