@use "../../Abstracts/" as *;

.top-bar-menu {
  text-align: center;
  padding: 1em;
  color: var(--clr-main-500);
  font-weight: 600;
  background-color: var(--clr-accent-500);
  box-shadow: $boxShadow3;
}
